apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-server
  template:
    metadata:
      labels:
        app: immich-server
    spec:
      containers:
      - name: immich-server
        image: ghcr.io/immich-app/immich-server:v2.5.6
        ports:
        - containerPort: 2283
        volumeMounts:
        - name: upload-volume
          mountPath: /usr/src/app/upload
        - name: localtime
          mountPath: /etc/localtime
          readOnly: true
        envFrom:
        - configMapRef:
            name: immich-config
        - secretRef:
            name: immich-secret
      volumes:
      - name: upload-volume
        persistentVolumeClaim:
          claimName: immich-data-pvc
      - name: localtime
        hostPath:
          path: /etc/localtime
--- 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-postgres
  template:
    metadata:
      labels:
        app: immich-postgres
    spec:
      containers:
      - name: postgres
        image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
        envFrom:
        - configMapRef:
            name: immich-config
        - secretRef:
            name: immich-secret
        volumeMounts:
        - name: db-volume
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: db-volume
        persistentVolumeClaim:
          claimName: immich-db-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-machine-learning
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-machine-learning
  template:
    metadata:
      labels:
        app: immich-machine-learning
    spec:
      containers:
      - name: immich-machine-learning
        image: ghcr.io/immich-app/immich-machine-learning:release
        imagePullPolicy: Always
        env:
        - name: IMMICH_PORT
          value: "3003"
        volumeMounts:
        - name: model-cache
          mountPath: /cache
        envFrom:
        - configMapRef:
            name: immich-config
        - secretRef:
            name: immich-secret
      volumes:
      - name: model-cache
        persistentVolumeClaim:
          claimName: immich-data-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-redis
  template:
    metadata:
      labels:
        app: immich-redis
    spec:
      containers:
      - name: redis
        image: docker.io/valkey/valkey:9@sha256:930b41430fb727f533c5982fe509b6f04233e26d0f7354e04de4b0d5c706e44e
